@font-face {
  font-family: 'CynthoNext-Thin';
  src:
  url('../fonts/cynthonext-thin/CynthoNext-Thin.woff') format('woff'),
  url('../fonts/cynthonext-thin/CynthoNext-Thin.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CynthoNext-Light';
  src:
  url('../fonts/cynthonext-light/CynthoNext-Light.woff') format('woff'),
  url('../fonts/cynthonext-light/CynthoNext-Light.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CynthoNext-Bold';
  src:
  url('../fonts/cynthonext-bold/CynthoNext-Bold.woff') format('woff'),
  url('../fonts/cynthonext-bold/CynthoNext-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}